target/
!.mvn/wrapper/maven-wrapper.jar
*.pid
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### webpack ###
node_modules/
data/
webssh2/
VTKServer-Go/VTKServer-Go
VTKServer-Go/VTKServer-Go.exe
